@import "libs/bootstrap-reboot.min";

@import 'base/variables';
@import 'base/mixins';
@import "base/animations";

* {
    font-family: 'Gilroy', sans-serif;
}

:root {
    --main-grey: #828282;
    --main-black: #070707;
}

.container {
    width: 945px;
    margin: 0 auto;
}

body {
    font-size: 18px;
    position: relative;
}

a {
    color: #000;
    text-decoration: none;
    display: block;
}


@import "blocks/buttons";
@import "blocks/title";
@import "blocks/header";
@import "blocks/about";
@import "blocks/skills";
@import "blocks/portfolio";
@import "blocks/contact";

@import "blocks/media";